/* app */

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    list-style: none;
    text-decoration: none;
    min-height: 100vh;
    overflow-x: hidden;
} 

/* alert */
/* The alert message box */
.alert{
    margin-right: auto;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto; 
    width: 50%;
  }

.alert ul{
    padding-left:0 !important;
}
 /* The close button */

 .closebtns {
    margin: 0 15px;
    color: #775959;
    font-weight: bold;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
.closebtn:hover{
    color: #F6F0F0;
  }

.closebtns:hover{
    color: red;
  }

  
.register input[type="text"]{
    height: revert;
    margin-left: 0px;
    font-size: inherit;
}

.register input{
    width: 100%;
    padding-left: 5px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem .25rem;
}

.Register-Header, .Login-Header{
    text-align:center;
}

.mb-5 {
    margin-bottom: 1rem!important;
}

.register label{
    margin-bottom: 5px;
}

.reg_error{
    color:red;
}
.input-group{
    margin-bottom: 10px;
}

 /* Login */

.login, .register{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loginbtn, .registerbtn{
    text-align:center;
}

.logged_in a, .registered a{
    color: darkred;
}

.logged_in a:hover, .registered a:hover{
    text-decoration: none;
}


.logged_in , .registered {
    margin: 0 50px;
}
.loginbtn input:hover, .registerbtn input:hover, .btn:hover{
    color: #fff;
}

.login .textinput, .register .textinput{
    margin-left: unset;
}

.login form input{
    width: 100%;
}
.login form p #remember_me{
    width: revert;
}
form {
    border-radius: .5rem;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.asteriskField {
    display: none;
}
@media (min-width:699px) and (max-width: 827px) {
    .login, .register{
        width: 70%;
    }
}

@media (min-width:421px) and (max-width: 698px) {
    .login, .register{
        width: 95%;
    }
}
@media (max-width: 551px)  {
    .login, .register{
        top: 55%;
    }
}
@media (max-width: 420px) {
    .login, .register{
        width: 100%;
    }
}

/* logo */
.Logo_Name a{
    text-decoration: black;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    text-decoration: none;
    margin-left: 10px;
    padding-top: 3px;
}

.brand-logo:hover{
    text-decoration: none;
    color: black;
}

.brand-logo-name{
   color:#eb444e;
}

.call-to-action a:hover{
    text-decoration: none;
    color: black;
}

.logo{
  margin-bottom: 15px;
  height: 50px;
}